// Selectors
$selectorMap: (
  global: "*",
  body: "body",
  img: "img",
  wrapper: ".container",
);

#{map-get($selectorMap, global)} {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}

#{map-get($selectorMap, img)} {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#{map-get($selectorMap, body)} {
  font: Cambria, Georgia;
}
